<AuthorizeView>
    <Authorized>
        Welcome @context.User.Identity.Name
        <a href="Security/Logout">Exit</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Register</a>
        <a href="Login">Login</a>
    </NotAuthorized>
</AuthorizeView>