@page "/login"
@using BlazorServerTestDynamicAccess.Models.DTOs
@model BlazorServerTestDynamicAccess.Pages.Security.LoginModel
@{
}
<h3>ورود به سیستم</h3>
<div>
    <form method="post" enctype="multipart/form-data">

        <div class="form-group">
            <input asp-for="loginUser.Username" type="text" class="form-control" placeholder="نام کاربری">
        </div>
        <span asp-validation-for="loginUser.Username"></span>
        <div class="form-group">
            <input asp-for="loginUser.Password" type="password" class="form-control" placeholder="رمز عبور ">

        </div>
        <span asp-validation-for="loginUser.Password"></span>
        @*<div class="remember-me">
            <label><input asp-for="RememberMe" type="checkbox" name="">  مرا بخاطر بسپار </label>
            </div>*@
        <div class="form-group">
        <input type="submit" value="ورود" class="btn btn-success"/>
        </div>
    </form>
</div>

